.bot-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  width: 400px;
  margin: 16px;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 10px;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px; */
}



.bot-card img {
  width: 100%;
  position: relative;
  top: 0;

  /* width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px; */
}

.bot-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.bot-card p {
  font-size: 18px;
  margin-bottom: 10px;
}

.bot-card:hover {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  background-color: #e6e6e6;
  cursor: pointer;
}

.bot-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  
}